@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  background: #151515 url('../images/bg.png') no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: Raleway, "Noto Sans Japanese Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}

h1 h2 h3 h4 p{
  clear: both;
}

.control-label{
  font-size: 40px;
  margin: 20px;
}

.header{
  padding: 140px 30px 80px;
}
.site-title-sub{
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;
}
.site-title-sub::before,
.site-title-sub::after{
  content: '';
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background: #fff;
  vertical-align: middle;
}

.site-title{
  margin: 50px 0 40px;
  font-size: 7.6rem;
}
@media(max-width:480px){
  .site-title{
    font-size: 30px;
  }
  .site-title-sub{
    font-size: 20px;
  }
}
.site-descripction{
  margin-bottom: 50px;
  color: #888;
  font-size: 1.6rem;
}
.button{
  display: inline-block;
  width: 200px;
  padding: 20px;
  margin-top: 50px;
  border-radius: 4px;
  background-color: #afa58d;
  color: #FFF;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.button:hover{
}
.button-showy{
  background-color: #f1b400;
}
.buttons .button{
  margin: 60px;
  padding: 20px;
}
.about{
  padding: 80px 30px;
  background: #FFF;
  color: #333;
}
.heading{
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
}
.heading::before,
.heading::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #999;
}
.heading::before{
  bottom: -5px;
}
.about-text{
  margin: 30px 0;
  line-height: 2.5;
}
.works{
  padding: 80px 0;
}
.works-wrapper{
  display: table;
  width: 100%;
  margin-top: 60px;
  table-layout: fixed;
}
.work-box{
  position: relative;
  display: table-cell;
}
.work-box::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  -webkit-transform: scaleY(-1);
     -moz-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
       -o-transform: scaleY(-1);
          transform: scaleY(-1);
}
.work-box.tree::after{
  background-image: url(../images/tree.jpg);
}
.work-box.building::after{
  background-image: url(../images/building.jpg);
}
.work-box.lake::after{
  background-image: url(../images/lake.jpg);
}
.work-box.sky::after{
  background-image: url(../images/sky.jpg);
}
.recomend-image{
  display: block;
  width: 100%;
  padding: 100px 300px ;
}
.work-box:nth-child(odd) .work-image{
  margin: 60% 0 0;
}
.work-box:nth-child(odd) .work-description,
.work-box:nth-child(odd)::after{
  top: 0;
}
.work-description{
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 100%;
  height: 50%;
  overflow-y: auto;
}
.work-description-inner{
  display: table;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.work-text{
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 2;
}
.work-text .button{
  width: 60%;
  margin-top: 20px;
  padding: 3px;
}
.button-ghost{
  border: 1px solid #fff;
  background-color: rgba(255,255,255,0.15);
}

.pt20{
  padding-top: 20px;
}
.select-wrap {
    position: relative;
}
.select-wrap:before {
    z-index: 1;
    position: absolute;
    right: 15px;
    top: -40px;
    content: "\f123";
    font-family: "IonIcons";
    line-height: 50px;
    color: #fff;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: all 600ms cubic-bezier(1, 0, 0, 1);
    -o-transition: all 600ms cubic-bezier(1, 0, 0, 1);
    transition: all 600ms cubic-bezier(1, 0, 0, 1);
    -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
select{
    outline:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select option{
  background-color: #fff;
  color: #333;
  padding: 0;
}
select::-ms-expand {
  display: none;
}

.select-wrap.select-circle > select{
    width:50px;
    height: 50px;
    border-radius:25px;
    margin: 0 auto;
    display: block;
    padding: 8px 0 8px 19px;
    letter-spacing: 2em;
    border:1px solid #db1f46;
    color:#fff;
    background: #db1f46;
    overflow: hidden;
    -webkit-transition: all 400ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: all 400ms cubic-bezier(1, 0, 0, 1);
    -o-transition: all 400ms cubic-bezier(1, 0, 0, 1);
    transition: all 400ms cubic-bezier(1, 0, 0, 1);
    -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
@-moz-document url-prefix() {
  .select-wrap.select-circle > select{
    padding-left: 16px;
  }
}
.select-wrap.select-circle:hover{
  width: 100%;
}
.select-wrap.select-circle:hover > select,.select-wrap.select-circle > select:hover{
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    letter-spacing: 0;
    padding: 8px 19px;
}
.select-wrap.select-circle:hover:before{
    opacity: 1;
    top: 0;
}

.select-wrap.select-circle > select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #fff;
}


.select-wrap.select-circle-arrow > select{
   color:#db1f46;
}
.select-wrap.select-circle-arrow:before{
   color:#fff;
   opacity: 1;
   text-align: center;
   width: 100%;
   top: 0;
   right: 0;
}
.select-wrap.select-circle-arrow:hover > select,.select-wrap.select-circle-arrow > select:hover{
  color: #fff;
}
.select-wrap.select-circle:hover:before{
    opacity: 1;
    top: 0;
    right: 15px;
    width: 20px;
}

.recomend-image{
  padding: 50px 20%;
  float: left;
  width: 300px;
  padding: 20px 00px;
  margin: 50px;
}

.reviews{
  padding: 100px 10px;
  background: #FFF;
  color: #5C4138;
  display:inline-block;
  vertical-align: middle;
}
.reviews-wrapper{
  display: table;
  width: 80%;
  margin: 50px auto 0;
  clear: both;
  table-layout: fixed;
  text-align: left;
}
.review-box {
  display: table-cell;
  width: 100%;
  float: left;
  background-color: #CCCCCC;
  box-pack:center;
  padding: 10px;
  -webkit-box-pack:center;
  -moz-box-pack:center;
}

.review-title{
  margin: 0 20px;
  font-size: 2rem;
  line-height: 2;
}

.review_post{

}

.review-post{
  padding: 80px 0 150px;
}
.review-post-form{
  width: 50%;
  margin: 50px auto 0;
}
.review-post-form textarea{
  height: 150px;
}
.review-post-form input[type=text],
.review-post-form textarea{
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 0;
  background-color: rgba(255,255,255,0.05);
  color: #FFF;
}
.review-post^form textarea{
  height: 150px;
}
.review-post-form input[type=submit]{
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  outline: none;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255,255,255,0.6);
  cursor: pointer;
}
.review-post-form input[type=submit]:hover{
  background-color: rgba(255,255,255,0.05);
}
.review-post-form input[type=text]:focus,
.review-post-form textarea:focus{
  box-shadow: 0 0 8px rgba(255,255,255,0.5) inset;
}

/*for Chrome and Safari */
.review-post-form ::-webkit-input-placeholder{
  color: rgba(255,255,255,0.6);
  opacity: 1;
}

/*for Internet Explore */
.review-post-form ::-ms-input-placeholder{
  color: rgba(255,255,255,0.6);
  opacity: 1;
}

/*for foirefox i*/
.review-post-form ::-moz-input-placeholder{
  color: rgba(255,255,255,0.8);
  opacity: 1;
}


.footer{
  padding: 12px 0;
  font-size: 1.3rem;
}
@import url(print.css) print;
.sample{
  color: red;
}